main{
    background-color:lightsalmon;
}
article{
    color:darkblue;
}
.headingstyle{
    text-decoration:underline;
}
#Link{
    font-weight:bold;
}
footer{
    font-style:italic;
}
.teamstyle{
    background-color:blueviolet;
}
.contactstyle{
    text-decoration:underline;
}
.classstyle{
    color:firebrick
}
nav ul li {
    display: inline-block; 
}

/*add shadows later*/